<section class="animated fadeIn">
  <div class="card">
    <div class="card-header">
      <span class="h3"><i class="fa fa-user"></i> {{(user._id) ? 'アカウント編集' : 'アカウント追加'}}</span>
      <button class="btn btn-sm btn-primary pull-right" ng-click="save(userForm.$valid)">保存</button>
      <button ng-if="user._id && owner._id !== user._id" class="btn btn-sm btn-danger pull-right mg5r" ng-click="remove()">削除</button>
    </div>
    <div class="card-body">
      <form name="userForm" ng-submit="save(userForm.$valid)" novalidate>
        <fieldset>
          <!-- 姓 -->
          <div class="form-group col-md-6" show-errors>
            <label class="control-label" for="firstName">姓</label>
            <input type="text" id="firstName" name="firstName" class="form-control" ng-model="user.firstName" placeholder="姓" required
            />
            <div ng-messages="userForm.firstName.$error" role="alert">
              <p class="help-block error-text" ng-message="required">姓は必須項目です。</p>
            </div>
          </div>
          <!-- 名 -->
          <div class="form-group col-md-6" show-errors>
            <label class="control-label" for="lastName">名</label>
            <input type="text" id="lastName" name="lastName" class="form-control" ng-model="user.lastName" placeholder="Last Name" required
            />
            <div ng-messages="userForm.lastName.$error" role="alert">
              <p class="help-block error-text" ng-message="required">名は必須項目です。</p>
            </div>
          </div>
          <!-- メール -->
          <div class="form-group col-md-6" show-errors>
            <label class="control-label" for="email">メール</label>
            <div class="controls">
              <input class="form-control" type="text" name="email" ng-model="user.email" id="email" placeholder="メール" required />
              <div ng-messages="userForm.email.$error" role="alert">
                <p class="help-block error-text" ng-message="required">メールは必須項目です。</p>
              </div>
            </div>
          </div>
          <!-- 役割 -->
          <div class="form-group col-md-6" show-errors>
            <label class="control-label" for="roles">役割</label>
            <select id="roles" name="roles" class="form-control" ng-model="user.roles" ng-list required>
              <option value>指定しない</option>
              <option value="user,admin" ng-selected="user.isAdmin">管理者</option>
              <option value="user" ng-selected="user.isUser">一般ユーザー</option>
            </select>
            <div ng-messages="userForm.roles.$error" role="alert">
              <p class="help-block error-text" ng-message="required">1つ以上の役割が必要です。</p>
            </div>
          </div>
          <!-- ユーザー名 -->
          <div class="form-group col-md-6" show-errors>
            <label class="control-label" for="username">ユーザー名</label>
            <input type="text" id="username" name="username" class="form-control" ng-model="user.username" placeholder="ユーザー名" required
            />
            <div ng-messages="userForm.username.$error" role="alert">
              <p class="help-block error-text" ng-message="required">ユーザー名は必須項目です。</p>
            </div>
          </div>
          <!-- パスワード -->
          <div class="form-group col-md-6" show-errors ng-if="!user._id">
            <label class="control-label" for="password">パスワード</label>
            <input type="password" id="password" name="password" class="form-control" ng-model="user.password" placeholder="パスワード" popover="{{popoverMsg}}"
              popover-trigger="focus" password-validator required>
            <div ng-messages="userForm.password.$error" role="alert">
              <p class="help-block error-text" ng-message="required">パスワードは必須項目です。</p>
              <div ng-repeat="passwordError in passwordErrors">
                <p class="help-block error-text" ng-show="userForm.password.$error.requirements">{{passwordError}}</p>
              </div>
            </div>
            <div class="form-group" ng-show="!userForm.password.$error.required">
              <progressbar class="progress-xs" value="requirementsProgress" type="{{requirementsColor}}"><span style="color:white; white-space:nowrap;">{{requirementsProgress}}%</span></progressbar>
            </div>
          </div>
          <div class="form-group col-md-6" ng-if="user._id">
            <label>&nbsp;</label>
            <a class="btn btn-default btn-block" ui-sref="admin.user-resetpass({ userId: user._id })">パスワードリセット</a>
          </div>
        </fieldset>
      </form>
      <div class="well" ng-if="!user._id">
        <p>
          セキュリティのためパスワードはいくつのルールを守って頂きます。
          <br>１．最短１０文字と最大１２８文字。
          <br>２．３つ以上の繰り返し文字が含まない。
          <br>３．最低１つの小文字
          <br>４．最低１つの大文字
          <br>５．最低１つの番号
          <br>６．最低１つの特徴文字
          <br>例：Abc123456@
        </p>
      </div>
    </div>
  </div>
</section>