<section class="animated fadeIn">
  <div class="card">
    <div class="card-header">
      <span class="h3"><i class="fa fa-users"></i> アカウント一覧</span>
      <a class="btn btn-sm btn-primary pull-right" ui-sref="admin.user-new">追加</a>
      <div class="clearfix"></div>
    </div>
    <div class="card-body">
      <table class="table table-hover table-bordered">
        <thead class="thead-default">
          <tr>
            <th class="text-center"><i class="fa fa-user-circle-o"></i></th>
            <th>姓</th>
            <th>名</th>
            <th>役割</th>
            <th>メール</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <!--<tr ng-show="busy">
            <td class="text-center" colspan="8">
              <md-progress-circular ng-disabled="!busy" class="md-hue-2 center" md-diameter="20px"></md-progress-circular>
            </td>
          </tr>
          <tr ng-show="pagedItems.length === 0 && !busy">
            <td class="text-center" colspan="11">Has no data found.</td>
          </tr>-->
          <tr ng-repeat="user in pagedItems">
            <td class="text-center">
              <img src="{{ user.profileImageURL }}" alt="{{ user.displayName }}" class="header-profile-image">
            </td>
            <td>{{ user.firstName }}</td>
            <td>{{ user.lastName }}</td>
            <td><span ng-bind="user.roles"></span></td>
            <td>{{ user.email }}</td>
            <td>
              <div class="btn-group" role="group">
                <a class="btn btn-sm btn-success" ui-sref="admin.user({ userId: user._id })">詳細</a>
                <a class="btn btn-sm btn-info" ui-sref="admin.admin.user-edit({ userId: user._id })">編集</a>
                <a class="btn btn-sm btn-danger" ng-click="delete_user(user)">削除</a>
                <a class="btn btn-sm btn-default" ui-sref="admin.users.resetpass({ userId: user._id })">パスワードリセット</a>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
      <pagination boundary-links="true" max-size="8" items-per-page="itemsPerPage" total-items="filterLength" ng-model="currentPage"
        ng-change="pageChanged()"></pagination>
    </div>
  </div>

  <!--<div class="page-header">
    <div class="row">
      <div class="col-md-4">
        <h1>Users</h1>
      </div>
      <div class="col-md-4" style="margin-top: 2em">
        <input class="form-control col-md-4" type="text" ng-model="search" placeholder="Search" ng-change="figureOutItemsToDisplay()"
        />
      </div>
    </div>
  </div>-->

</section>